---
layout: default
title: blog index
---

<div class="blog-index">
  
<!-- Show last x posts here -->
{% for post in paginator.posts %}
  <article>
    <div class="date"><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></div>
    <h3><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h3>
  
    <div class="entry">{{ post.excerpt }}</div>
  </article>
{% endfor %}


<div id="paginator">
  {% if paginator.next_page %}
    <a class="button" href="{{site.baseurl}}/blog/page{{paginator.next_page}}">
    &laquo; Older Posts</a>
  {% endif %}
  
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <span class="more">
      <a class="button" href="{{site.baseurl}}/">
      Newer Posts &raquo; </a>
      </span>
    {% else %}
      <span class="more">
      <a class="button" href="{{site.baseurl}}/blog/page{{paginator.previous_page}}">
      Newer Posts &raquo; </a>
      </span>
    {% endif %}
  {% endif %}
</div>

</div>
<a href="{{site.baseurl}}/archive">ARCHIVE</a>
<a class="rss" href="{{site.baseurl}}/feed.xml"><i class="fa fa-rss"></i></a>

