---
layout: default
---

<article>
        <header>
            <h2>{{ page.title }}</h2>
            <span><i class="fa fa-clock"></i><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span><br/>
            <span class="author"><i class="fa fa-user"></i> {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</span>
        </header>

        <div class="entry">{{ content }}</div>

        {% include post-categories.html %}
</article>

